<div>
	<form (ng-submit)="onSubmit()" (formgroup)="logupForm">
		<div>
			<h3>Log Up </h3>
			
			  <div *ngIf="invalidsignup&&submitted" class="alert alert-danger">
        			Invalid email address. This email has already registered.
      		  </div>
			
				<div >
					<label for="Email" class="">Email</label>
					<input type="email" id="email" class="form-control" formControl >
				</div>


				<div>
					<label for="Password" >Password</label>
					<input type="text" class="form-control">
				</div>


				<div>
					<label for="Firstname" >Firstname</label>
					<input type="text" class="form-control">
				</div>

				<div>
					<label for="Lastname" >Lastname</label>
					<input type="text" class="form-control">
				</div>

				



		</div>
	</form>		
</div>
