<div>
	<form (ng-submit)="onSubmit()" (formgroup)="logupForm">
		<div>
			<h3>Log Up </h3>
			
			<!-- Invalid email address -->
			  <div *ngIf="invalidlogup&&submitted" class="alert alert-danger">
        			Invalid email address. This email has already registered.
      		  </div>

			<!-- List -->
				<div >
					<label for="Email" class="">Email</label>
					<input type="email" id="email" class="form-control" formControlName="email" >
				</div>

				<div *ngIf="logupForm.controls.email.touched && logupForm.controls.email.errors">
				
					<div *ngIf="logupForm.controls.email.errors.maxlength && !logupForm.controls.email.errors.required" class="alert alert-danger">
           		 	The max length of username is 20
          			</div>
          		</div>	

				<div>
					<label for="Password" >Password</label>
					<input type="text" class="form-control">
				</div>


				<div>
					<label for="Firstname" >Firstname</label>
					<input type="text" class="form-control">
				</div>

				<div>
					<label for="Lastname" >Lastname</label>
					<input type="text" class="form-control">
				</div>

				
	


		</div>
	</form>		

	<button class="btn btn-lg btn-secondary btn-block mt-5" type="submit">Log up</button>
</div>
